@import url("https://fonts.googleapis.com/css?family=Big+Shoulders+Display&display=swap");

body {
  background: #1f1a25;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  overflow: hidden;
}

img {
  position: fixed;
  top: -8%;
  left: 0%;
  border-radius: 50px;
  opacity: 0.6;
  transition: 0.5s;
}

h1 {
  transition: transform 2s;
  font-size: 60px;
  color: white;
  font-family: "Big Shoulders Display", cursive;
}

.card:hover > p {
  opacity: 1;
  transform: scale(1.5);
  top: 80%;
}

img,
#parent {
  cursor: pointer;
}

.card:hover > img {
  opacity: 1;
  transform: scale(1.4);
}

.card header {
  position: absolute;
  top: 120%;
  left: 0%;
  padding: 1px;
  border-radius: 25px;
  width: 450px;
  height: 90px;
  transition: all 0.5s;
  opacity: 0;
}

.card:hover > header {
  opacity: 1;
  width: 450px;
  height: 90px;
  transform: translateY(-120px);
}

.card {
  transition: transform 0.7s;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 500px;
  margin: auto;
  text-align: center;
  font-family: Arial, sans-serif;
  background: white;
  width: 90%;
  max-width: 450px;
  height: auto;
}

.card:hover {
  transform: scale(1.08);
}

.centeri {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

span {
  position: relative;
}

@media (min-width: 768px) {
  .card {
    width: 450px;
    height: 450px;
  }
}
