@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: #000;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Montserrat", sans-serif;
}

a, i {
    color: white;
    font-size: 1.4rem;
    font-weight: 500;
    text-decoration: none;
}

.container {
    background-color: #272727;
    padding: 1rem;
    border: 5px solid black;
    border-radius: 20px;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}

.list {
    display: flex;
    gap: 1rem;
    list-style: none;
}

i {
    font-size: 30px;
    transition: opacity 0.3s ease-in-out;
}

i:hover {
    opacity: 0.5;
    cursor: pointer;
}

.list-item {
    color: #fff;
    padding: .5rem;
    position: relative;
}

.list-item::after {
    content: " ";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: #fff;
    border-radius: 5px;
    transform: scaleX(0);
    transition: all 0.6s ease;
}

.list-item:hover::after {
    transform: scaleX(1);
}