@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Poppins:wght@400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    font-family: "Poppins", sans-serif;
    color: #eee;
    height: 100%;
    overflow-x: hidden;
}

header {
    width: 1200px;
    max-width: 90%;
    margin: auto;
    padding-top: 10px;
    display: grid;
    grid-template-columns: 50px 1fr 50px;
    grid-template-rows: 50px;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 2;
}

.logo {
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
}

i {
    font-size: 20px;
    cursor: pointer;
}

.menu {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 20px;
    font-weight: 500;
}

.menu-item {
    cursor: pointer;
    transition: .2s ease-in;
}

.menu-item:hover {
    color: #acacac;
}

.background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    overflow: hidden;
}

.background img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(60%);
}

.background::after{
    content: '';
    width: 100%;
    height: 50%;
    position: absolute;
    left: 0;
    bottom: 0;
    background-image: linear-gradient(to top, #000 10%, transparent);
}

.hero-content {
    position: relative;
    z-index: 3;
    text-align: center;
    margin-top: 150px;
}