*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #faf4e4;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.calculator {
  display: grid;
  grid-template-rows:
    minmax(80px, auto)
    repeat(5, 60px);
  grid-template-columns: repeat(4, 60px);
  justify-content: center;
  background-color: #081107;
  padding: 1.4rem;
  border-radius: 12px;
  gap: 0.7rem;
}
.calculator button {
  border: none;
  font-family: inherit;
  font-size: 1.3rem;
  font-weight: 500;
  color: #2cdd0d;
  background-color: hsl(230, 6%, 20%);
  border-radius: 10px;
  cursor: pointer;
}
.calculator button:hover {
  background-color: hsl(230, 6%, 30%);
}
.span-2 {
  grid-column: span 2;
}
.calculator > .output {
  font-size: 2rem;
  background-color: inherit;
  color: white;
  grid-column: 1 / -1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-end;
  word-break: break-all;
  border-radius: inherit;
}

.output .prev-display {
  font-size: 1.3rem;
  font-weight: 400;
  color: hsl(0, 0%, 65%);
}
