@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    margin: 0;
    padding: 0;
    transform: 0.4s;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #0f172a;
}

.container{
    height: 300px;
    width: 350px;
    background-color: #fff;
    border-radius: 15px;
    overflow: hidden;
    position: relative;
    box-sizing: border-box;
    box-shadow: 0 10px 10px #0000005e;
   
}

.container img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 15px;
    filter: grayscale(1);
    transition: 0.4s;
    cursor: pointer;
    position: relative;
}

.container:hover > img{
    filter: grayscale(0);
    transform: scale(1.3) rotate(-7deg);
}

.text-area{
    position: absolute;
    top: 35%;
    left: 12%;
    transform: translate(-50%,-50%);
    padding: 10px;
    width: 250px;
    color: #fff;
    opacity: 0;
    transition: 0.4s;
   transform: scale(0);
   font-family: 'Poppins', sans-serif;
   z-index: 1;
   font-size: 12px;
}

.container:hover >.text-area{
    opacity: 1;
    transform: scale(1);

}


.text-area::before{
    height: 100%;
    width: 100%;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(#0000007f,transparent,#0000006f);
    z-index: -1;
    border-radius: 10px;
    transition: 0.4s;
}


.container:hover .text-area::before{
    transition-delay: .5s;
    backdrop-filter: blur(10px);
}