body {
    font-family: 'Ubuntu', sans-serif;
    margin: 0 auto;
    background-color: #0f172a;
    color: white;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  #slider {
    width: 600px;
    display: flex;
    gap: 15px;
    font-size: 30px;
  }
  
  #sliderValue {
    display: flex;
    color: #baee00;
      font-weight: 700;
  }
  
  .start {
    opacity: 0;
  }
  
  .animation {
    animation: fade .3s forwards;
  }
  
  
  @keyframes fade {
    0%{
      opacity: 0;
      transform: translateY(-20px) rotateZ(35deg);
    }
    100%{
      opacity: 1;
      transform: translateY(0px) rotateZ(0deg);
    }
  }
  
  .holder-animation {
    animation: holder 4s;
  }
  
  @keyframes holder {
    0%{
      opacity: 1;
    }
    95%{
      opacity: 1;
    }
    100%{
      opacity: 0;
    }
  }