* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-color: #090909;
  display: grid;
  place-items: center;
  font-family: Poppins;
}

.card {
  width: 300px;
  aspect-ratio: 1/1.3;
  position: relative;
}

.card .image-box {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.card .image-box img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: grayscale(0) brightness(1);
  scale: 1.2;
  transition: scale 2s ease-in-out, filter 1s ease-in-out;
}
.card:hover .image-box img {
  filter: grayscale(1) brightness(0.7);
  scale: 1;
}

.card .text-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
}

.text-box :is(.main, .sub) {
  height: 34px;
  line-height: 34px;
  overflow: hidden;
}
.text-box .main {
  font-size: 26px;
  font-weight: 600;
  text-transform: uppercase;
  position: relative;
}
.text-box .sub {
  font-size: 14px;
  font-weight: 300;
}
.main span,
.sub span {
  display: block;
  transition: transform 0.5s ease;
}
.main span {
  transition-delay: 0.2s;
  transform: translateY(100%);
}
.sub span {
  transform: translateY(-100%);
  transition-delay: 0.5s;
}

.card:hover .text-box :is(span) {
  transform: translateY(0%);
}

.text-box::after {
  position: absolute;
  content: "";
  top: 52%;
  left: 50%;
  width: 102%;
  height: 3px;
  transform: translate(-50%, -50%) scaleX(0);
  transform-origin: left;
  transition: 0.5s ease;
  background-color: cyan;
}
.card:hover .text-box::after {
  transform: translate(-50%, -50%) scaleX(1);
}
