*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "SF Pro Text";
  font-size: 20px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: hsl(256, 26%, 21%);
}

nav {
  width: 100%;
  max-width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 24px 40px;
}

nav ul {
  display: flex;
  gap: 1.25rem;
  list-style: none;
}

.link {
  text-decoration: none;
  padding: 0.5rem 0.75rem;
  font-size: 18px;
  font-weight: 600;
  color: #fefefe;
  position: relative;
  transition: color 0.25s;
}
.link:hover {
  color: black;
}

.link::after {
  position: absolute;
  content: "";
  inset: 0;
  background-color: #fefefe;
  scale: 1 0;
  z-index: -1;
  transition: 0.45s;
  border-radius: 10px;
}
.link:hover::after {
  scale: 1 1;
}
