@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

a{
  text-decoration: none;
}

body {
    margin: 0;
    background: linear-gradient(#0d0d0d, #212121);
    font-family: "Euclid Circular A", "Poppins";
    color: #d6dfed;
}
  
html,
body {
    height: 100%;
}
  
.background {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
  
ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    cursor: pointer;
}

.socials,
.links {
    gap: 20px;   
}
  
.socials a {
    color: white;
    font-size: 24px;
}
  
.legal {
    font-size: 12px;
    margin: 0;
}
  
svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: scaleY(3) scaleX(2.25);
    transform-origin: bottom;
    box-sizing: border-box;
    display: block;
    pointer-events: none;
}
  
footer {
    position: fixed;
    left: 0;
    bottom: 12px;
    display: flex;
    width: 100%;
    height: 370px;
}
  
section {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    gap: 30px;
    padding-bottom: 80px;
    padding-left: 60px;
    width: 100%;
}

@media (width < 420px) {
    section {
      padding-left: 0;
      gap: 20px;
    }

    footer {
        height: 300px;
    }
  
    .links {
      gap: 20px;
    }
}