/*** IN PROGRESS ***/
:root {
    --sz: 10vmin;
    --on: #99dc39;
    --of: #F44336;
    --lg: var(--of);
    --sp: 1s;
  }	
  
  *, *:before, *:after {
    box-sizing: border-box;
    transition: all var(--sp) ease 0s;
  }
  
  body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: none;
    background: linear-gradient(135deg, #1f1f23, #2d2d31, #101012);
    background: linear-gradient(135deg, #161618, #212125, #060606);
    
  }
  
  body:before, body:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: 
      repeating-conic-gradient(#0002 0.000095%, #fff0 .0005%, #fff0 .005%, #fff0 .0005%), 
      repeating-conic-gradient(#0002 0.00001%, #fff0 .00009%, #fff0 .00075%, #fff0 .000025%);
    opacity: 0.75;
    filter: blur(0.75px);
  }
  
  .toggle {
    position: relative;
    width: calc(var(--sz) * 5.55);
    height: calc(var(--sz) * 2);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  input {
    display: none;
  }
  
  label[for=btn] {
    position: absolute;
    width: calc(var(--sz) * 5.55);
    height: calc(var(--sz) * 2);
    background: linear-gradient(0deg, #12172080, #0d121780);
    border-radius: var(--sz);
    display: flex;
    align-items: center;
    /*
    box-shadow: 
    0 0 calc(var(--sz) / 50) calc(var(--sz) / 50) #0006, 
    0 calc(var(--sz) / -20) calc(var(--sz) / 5) calc(var(--sz) / 25) #0b0b10, 
    0 calc(var(--sz) / 20) calc(var(--sz) / 10) calc(var(--sz) / 50) #f5f5f588, 
    0 calc(var(--sz) / -20) calc(var(--sz) / 50) calc(var(--sz) / 15) #00000060;
    */
    background: radial-gradient(circle at 50% calc(var(--sz) / 0.085), #fff0 calc(var(--sz) / 0.1), #000 calc(calc(var(--sz) / 0.1) + 1px) calc(var(--sz) / 0.0875), #fff0 calc(calc(var(--sz) / 0.0875) + 1px) 100%), 
      radial-gradient(circle at 50% calc(var(--sz) / -0.1025), #fff0 calc(var(--sz) / 0.1), #000 calc(calc(var(--sz) / 0.1) + 1px) calc(var(--sz) / 0.0875), #fff0 calc(calc(var(--sz) / 0.0875) + 1px) 100%);
  }
  
  label[for=btn]:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: var(--sz);
    /* box-shadow: 0 0 calc(var(--sz) / 3) calc(var(--sz) / 10) #000 inset; */
    background: radial-gradient(circle at 50% calc(var(--sz) / 0.0845), #fff0 calc(var(--sz) / 0.1), #121212 calc(calc(var(--sz) / 0.1) + 1px) calc(var(--sz) / 0.0875), #fff0 calc(calc(var(--sz) / 0.0875) + 1px) 100%), radial-gradient(circle at 50% calc(var(--sz) / -0.1015), #fff0 calc(var(--sz) / 0.1), #121212 calc(calc(var(--sz) / 0.1) + 1px) calc(var(--sz) / 0.0875), #fff0 calc(calc(var(--sz) / 0.0875) + 1px) 100%);
    filter: drop-shadow(0px -2px 1px #000) drop-shadow(0px -2px 2px #000) drop-shadow(0px -2px 3px #0008) drop-shadow(0px 2px 2px #fff8);
  }
  
  .thumb {
    position: absolute;
    width: calc(calc(var(--sz) * 2) - calc(var(--sz) / 8));
    height: calc(calc(var(--sz) * 2) - calc(var(--sz) / 8));
    margin-top: calc(calc( var(--sz) / 10) + calc(var(--sz) / -7));
    left: calc(calc( var(--sz) / 10) + calc(var(--sz) / -30));
    background: 
  
      /* radial-gradient( #fff0 0 calc(var(--sz) / 3.5), var(--lg) calc(calc(var(--sz) / 3) + 1px) calc(var(--sz) / 2.75), #fff0 calc(var(--sz) / 1.15)), */
      linear-gradient(0deg, #212121, #fff0 35% 65%, #474747), 
      radial-gradient( #fff0 0 calc(var(--sz) / 3), #393939 calc(calc(var(--sz) / 3) + 1px) calc(var(--sz) / 1), #474747);
    border-radius: var(--sz);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    overflow: hidden;
    box-shadow: 
      0 0 calc(var(--sz) / 3) calc(var(--sz) / -8) var(--lg), 
      0 0 calc(var(--sz) / 5) calc(var(--sz) / -15) var(--lg) inset, 
      calc(var(--sz) / -50) calc(var(--sz) / 50) calc(var(--sz) / 30) 0 #fff2 inset, 0 0 calc(var(--sz) / 10) calc(var(--sz) / 50) #000c, 0 calc(var(--sz) / 4) calc(var(--sz) / 5) 0 #000d;
    animation: grow calc(var(--sp) / 3) ease 0s 2 alternate;
  }
  
  #btn:checked + label .thumb {
    --lg: var(--on);
    left: calc(calc(100% - calc(calc(var(--sz) * 2) - calc(var(--sz) / 3))) - calc(calc( var(--sz) / 10) + calc(var(--sz) / 6)));
    /*
    box-shadow: 
    calc(var(--sz) / 10) 0 calc(var(--sz) / 10) calc(var(--sz) / -10) var(--lg), 
    calc(var(--sz) / -10) 0 calc(var(--sz) / 10) calc(var(--sz) / -10) var(--lg) inset,
    calc(var(--sz) / -50) calc(var(--sz) / 50) calc(var(--sz) / 30) 0 #fff2 inset, 
    0 0 calc(var(--sz) / 10) calc(var(--sz) / 50) #000c, 
    0 calc(var(--sz) / 4) calc(var(--sz) / 5) 0 #000d;
    */
    animation: grow2 calc(var(--sp) / 3) ease 0s 2 alternate;
  }
  
  
  
  
  @keyframes grow {
    80%, 100% {
      height: calc(calc(var(--sz) * 2) - calc(var(--sz) / 2.5));
      width: calc(calc(var(--sz) * 2) - calc(var(--sz) * -0.5));
    }
  }
  
  @keyframes grow2 {
    80%, 100% {
      height: calc(calc(var(--sz) * 2) - calc(var(--sz) / 2.5));
      width: calc(calc(var(--sz) * 2) - calc(var(--sz) * -0.5));
    }
  }
  
  
  .thumb:before {
    content: "";
    width: calc(var(--sz) / 1.65);
    height: calc(var(--sz) / 1.65);
    background: #fff0;
    border-radius: 100%;
    box-shadow: 
      0 calc(var(--sz) / -1) calc(var(--sz) / 2) var(--lg),
      0 calc(var(--sz) / 1) calc(var(--sz) / 2) var(--lg), 
      0 0 2vmin 0.25vmin var(--lg) inset, 0 0 5vmin 1.5vmin var(--lg), 
      0 0 calc(var(--sz) / 5) 0 #fff;
  }
  
  
  
  
  
  
  .lights {
    position: absolute;
    width: calc(100% + calc(var(--sz) * 2));
    height: calc(var(--sz) / 1.75);
    display: flex;
    justify-content: space-between;
    padding: 0;
    z-index: 0;
  }
  
  .lights span {
    background: #121212;
    position: relative;
    width: calc(var(--sz) / 1.75);
    height: calc(var(--sz) / 1.75);
    border-radius: var(--sz);
    box-shadow: 
      0 0 calc(var(--sz) / 50) calc(var(--sz) / 50) #0008, 
      0 calc(var(--sz) / -20) calc(var(--sz) / 10) calc(var(--sz) / 500) #000, 
      0 calc(var(--sz) / 20) calc(var(--sz) / 10) calc(var(--sz) / 500) #fff8, 
      0 0 calc(var(--sz) / 20) calc(var(--sz) / 25) #000;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  
  
  
  
  
  
  .lights {
    position: absolute;
    width: calc(100% - calc(var(--sz) * 1.425));
    height: calc(var(--sz) / 1.75);
    display: flex;
    justify-content: space-between;
    padding: 0;
    z-index: 0;
    margin-top: -1px;
  }
  
  .lights span {
    background: #121212;
    position: relative;
    width: calc(var(--sz) / 1.75);
    height: calc(var(--sz) / 1.75);
    border-radius: var(--sz);
    box-shadow: 
      0 0 calc(var(--sz) / 50) calc(var(--sz) / 50) #0008, 
      0 calc(var(--sz) / -20) calc(var(--sz) / 10) calc(var(--sz) / 500) #000, 
      0 calc(var(--sz) / 20) calc(var(--sz) / 10) calc(var(--sz) / 500) #fff8, 
      0 0 calc(var(--sz) / 20) calc(var(--sz) / 25) #000;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .lights span:after {
    content: "";
    color: #fff;
    width: calc(100% - calc(var(--sz) / 15));
    height: calc(100% - calc(var(--sz) / 15));
    position: absolute;
    background: radial-gradient(circle at 50% 32%, #fff5 0 calc(var(--sz) / 20), #000 calc(var(--sz) / 3) calc(var(--sz) / 3));
    border-radius: var(--sz);
    top: calc(var(--sz) / 50);
  }
  
  
  /* off */
  span.light-off:after {
    box-shadow: 
      0 0 calc(var(--sz) / 2.5) 0 var(--lg), 
      0 0 calc(var(--sz) / 3) calc(var(--sz) / 20) var(--lg) inset, 
      0 calc(var(--sz) / -20) calc(var(--sz) / 10) calc(var(--sz) / 10) #000 inset;
    background: radial-gradient(circle at 50% 32%, #fff 0 calc(var(--sz) / 20), #fff8 calc(var(--sz) / 3) calc(var(--sz) / 3));
  }
  
  #btn:checked + label + .lights span.light-off:after {
    box-shadow: 0 0 calc(var(--sz) / 3) 0 #f5000020, 0 0 calc(var(--sz) / 3) calc(var(--sz) / 20) #f5000020 inset;
    background: radial-gradient(circle at 50% 32%, #fff5 0 calc(var(--sz) / 20), #000 calc(var(--sz) / 3) calc(var(--sz) / 3));
  }
  
  
  /* on */
  span.light-on:after {
    box-shadow: 0 0 calc(var(--sz) / 3) 0 #00f56d20, 0 0 calc(var(--sz) / 3) calc(var(--sz) / 20) #00f56d20 inset;
  }
  
  #btn:checked + label + .lights span.light-on:after {
    --lg: var(--on);
    box-shadow: 0 0 calc(var(--sz) / 2.5) 0 var(--lg), 0 0 calc(var(--sz) / 3) calc(var(--sz) / 20) var(--lg) inset, 0 calc(var(--sz) / -20) calc(var(--sz) / 10) calc(var(--sz) / 10) #000 inset;
    background: radial-gradient(circle at 50% 32%, #fff 0 calc(var(--sz) / 20), #fff2 calc(var(--sz) / 3) calc(var(--sz) / 3));
  }
  
  #btn:checked + label + .lights span.light-on:before {
    --lg: var(--on);
  }
  
  #btn:checked + label + .lights span.light-off:before {
    --lg: #666;
  }
  