*,
*:after,
*:before {
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  background-color: #2b010f;
}

.container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  display: flex;
  flex-direction: column;
  flex-basis: 300px;
  flex-shrink: 0;
  flex-grow: 0;
  max-width: 100%;
  background-color: #fff;
  box-shadow: 0 5px 10px 0 rgba(#000, 0.15);
  border-radius: 15px;
  overflow: hidden;
  margin: 1rem;
}

.card-img {
  padding-bottom: 56.25%;
  position: relative;
  
}

.card-img img {
  position: absolute;
  width: 100%;
}

.card-body {
  padding: 1.5rem;
}

.card-title {
  font-size: 1.25rem;
  line-height: 1.33;
  font-weight: 700;
}

.card-title.skeleton {
  min-height: 28px;
  border-radius: 15px;
}

.card-intro {
  margin-top: 0.75rem;
  line-height: 1.5;
}

.card-intro.skeleton {
  min-height: 72px;
  border-radius: 25px;
}

.skeleton {
  background-image: linear-gradient(
    120deg,
    #ececec 50%,
    #fafafa 60%,
    #fafafa 61%,
    #ececec 70%
  );
  background-size: 200%;
  background-position: 100% 0;
  animation: waves 2s linear infinite;
}

@keyframes waves {
  100% {
    background-position: -100% 0;
  }
}